@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}
@media only screen and (min-width: 1700px) {

}
.custom-radius {
  border-radius: 10% 25% 0% 15% !important;
}
.prequlifeid-swiper .swiper-button-prev:after, .swiper-button-next:after{
  font-size: 15px !important;
}
.prequlifeid-swiper .swiper-button-next,.swiper-button-prev{
  @apply !h-10 !w-10 rounded-full border border-primary 
}
.swiper-button-prev, .swiper-button-next{
  position: relative !important;
  flex-shrink: 0 !important;
}
/* .prequlifeid-swiper{
  @apply  !flex !justify-start !items-center
} */
 .section-title{
  @apply text-center text-[44px] max-sm:text-3xl font-raleway font-bold 
 }
 .bg-custom{
  background-image: url("/public/assets/images/shapebg/shapebg.png");
  background-size: 100% 100%;
  
 }